**/target/
**/build/
out/

.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace

*.log
logs/

.env
**/application-local.yml
**/application-dev.yml

.DS_Store
Thumbs.db

.mvn/
mvnw
mvnw.cmd

.idea/httpRequests/
http-client.private.env.json

target/
*.class