**/target/
**/build/
target/
out/
*.class

.idea/
.idea/httpRequests/
*.iml

.vscode/
*.sublime-project
*.sublime-workspace

http-client.private.env.json
http-requests-log.http

.env
**/application-local.yml
**/application-dev.yml

*.log
logs/

.mvn/
mvnw
mvnw.cmd

.DS_Store
Thumbs.db